/* # VARIABLES
================================================== */
$white: #ffffff;
$white-light: #fafafa;
$white-dark: #f0f0f0;

$blue-dark: #333d46;
$blue-light: #0c7fce;

$yellow: #EDC951;